spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive

  config:
    import: "optional:configserver:http://config-server:8888"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    appname: api-gateway
    instance-id: api-gateway
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    gateway:
      enabled: true

  security:
    enabled: false


logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%X{correlationId}] %logger{36} - %msg%n"

